:root{
    --primary-font-color: rgb(114, 114, 114);
    --primary-font-size: 25px;
    --secondary-font-color: rgb(155, 155, 155);
    --secondary-font-size: 18px;
    --cell-font-size: 75px;
    --cell-base-color: rgb(242, 242, 242);
    --cell-X-background-color: rgb(116, 124, 152);
    --cell-X-color: rgb(255, 218, 97);
    --cell-O-background-color: rgb(138, 97, 97);
    --cell-O-color: rgb(255, 110, 110);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    color: var(--primary-font-color)
}
.app{
    width: 650px;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px dashed rgb(212, 212, 212);
    padding: 15px;
    border-radius: 20px;
}
.app-header{
    display: flex;
    text-align: center;
}
.app-left-side{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-game-board-wrapper{
    width: 308px;
    height: 308px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}
.app-winner{
    font-size: 1.5rem;
}
.cell{
    width: 100px;
    height: 100px;
    font-size: var(--cell-font-size);
    background-color: var(--cell-base-color);
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
.cell.x {
    background-color: var(--cell-X-background-color);
    color: var(--cell-X-color);
    font-weight: 900;
}
.cell.o {
    background-color: var(--cell-O-background-color);
    color: var(--cell-O-color);
    font-weight: 900;
}